{:lib      io.github.hive-agi/modex-bb
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/modex-bb"
 :src-dirs ["src"]
 :publish  :clojars}
